MONGODB_URI=""

# https://better-auth.com/docs/installation
BETTER_AUTH_SECRET="12332465465dsacascascsa"
# application base url
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_BETTER_AUTH_URL="http://localhost:3000"